# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

# optionally specify a list of environments, for example to test different RDBMS
env:
  - SPOT_DB=mysql

# execute any number of scripts before the test run, custom env's are available as variables
before_script:
  - composer install
  - if [[ "$SPOT_DB" == "mysql" ]]; then mysql -e "create database IF NOT EXISTS spot_test;" -uroot; fi

# omitting "script:" will default to phpunit
# use the $SPOT_DB env variable to determine the phpunit.xml to use
script: phpunit --configuration phpunit_$SPOT_DB.xml --coverage-text

# configure notifications (email, IRC, campfire etc)
#notifications:
#  irc: "irc.freenode.org#travis"
